.icon {
    @apply transition-all duration-150 border-rose-400;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    filter: drop-shadow(0px 0px 4px #555555);
}

.icon * {
    @apply rounded-lg;
}

.icon:hover {
    scale: 1.2;
}