.frame {
    @apply mx-6 my-auto rounded-xl
    transition-all duration-300 cursor-pointer relative flex
    shadow-xl justify-center;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    width: 24rem;
    height: 24rem;

    border: double 0.6em transparent;
    background-image: url('/image/background3.jpg');
    background-size: cover;
    background-origin: border-box;
    background-clip:  border-box;

    animation: infiniteScroll 25s linear infinite;
}

@keyframes infiniteScroll {
    0% {
        background-position-x: 0%;
    }
  
    to {
        background-position-x: 290%;
    }
}

.frame:hover {
    @apply shadow-2xl shadow-black;
    scale: 1.1;
    width: 35rem;
}

.textBox {
    @apply text-center absolute p-2 w-11/12 min-w-full min-h-full bg-tblack-900/60 bottom-0
        flex flex-col items-center transition-all duration-200 justify-center;
        backdrop-filter: blur(5px);
}

.textBox span {
    @apply max-h-0 collapse transition-all duration-100;
}

.frame:hover .textBox span {
    @apply max-h-full visible;
}

.textBox h1 {
    @apply text-5xl transition-all duration-100;
}

.frame:hover .textBox h1 {
    @apply text-2xl;
}

.frame:hover .textBox {
    @apply min-h-0 min-w-0 bottom-2 rounded-xl;
}