.title {
    @apply text-twhite-d justify-center;
    height: 900px;
    display: flex;
    padding: 18rem 0;
    background-image: url('/image/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -85px;
}

.content section {
    min-height: 600px;
    padding: 100px 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 {
    @apply bg-tblack-d;
}

.content2 {
    @apply bg-teal-600;
}

.separator {
    background-image: url('/image/separator.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    margin-top: -30px;
}

.projectFrames {
    display: flex;
    margin-top: 20px;
}