.content section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectFrames {
    @apply flex flex-row overflow-x-hidden overflow-y-hidden justify-center
        w-full;
    height: 50vh;
}

.content1 {
    background-image: linear-gradient(144deg, 
      theme('colors.tblack.950'), theme('colors.tblack.900'), 
      theme('colors.tblack.950') 50%, theme('colors.tblack.900'));
}

.content2 {
    background-image: linear-gradient(144deg, 
      theme('colors.teal.600'), theme('colors.teal.600'), 
      theme('colors.teal.500') 50%, theme('colors.teal.700'));
}