.content section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content section h1 {
    margin-bottom: 1rem;
}

.content1 {
    @apply bg-tblack-d;
}

.content2 {
    @apply bg-teal-600;
}

.projectFrames {
    @apply flex flex-row overflow-x-auto overflow-y-visible
        w-full;
    height: 50vh;
}