@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7f3;
  --foreground: #272f40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272f40;
    --foreground: #f9f7f3;
  }
}

body {
  @apply md:text-xl max-md:text-lg m-0 p-0;
  font-family: var(--font-poppins);
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply font-bold md:text-5xl max-md:text-3xl;
  font-family: var(--font-inter);
}

.dynamicHeader h1 {
  animation: infiniteScroll 10s linear infinite;
  background: url('/image/background3.jpg') 50% 50%;
  background-size: 120%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0px 0px 10px #999999);
}

@keyframes infiniteScroll {
  0% {
    background-position-x: 0%;
  }

  to {
    background-position-x: 600%;
  }
}

.bgBlack {
  background-image: linear-gradient(144deg, 
    theme('colors.tblack.800'), theme('colors.tblack.950'), 
    theme('colors.tblack.800') 50%, theme('colors.tblack.950'));
}

.bgTeal {
  background-image: linear-gradient(144deg, 
    theme('colors.teal.600'), theme('colors.teal.600'), 
    theme('colors.teal.500') 50%, theme('colors.teal.700'));
}

.bgMix {
  background-image: linear-gradient(144deg, 
    theme('colors.teal.800'), theme('colors.tblack.900'), 
    theme('colors.tblack.950') 50%, theme('colors.teal.700'));
}