.title {
    @apply justify-center align-middle h-full flex bg-no-repeat relative px-[8vh] text-center;
    font-size: 15rem;
    animation: revealTitle 0.8s ease-in-out forwards;
    animation-delay: 500ms;
    line-height: 1.4;

    background: url('/image/background2.jpg') 50% 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    filter: opacity(0);
    background-size: 80%;
    padding-right: 5%;
}

@keyframes revealTitle {
    to {
        padding-right: 0;
        background-size: 70%;
        filter: opacity(1);
    }
}

.content section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectFrames {
    @apply flex flex-row overflow-x-hidden overflow-y-hidden justify-center
        w-full h-[55vh];
}