.title {
    @apply bg-no-repeat text-[12rem] text-center;
    animation: revealTitle 0.8s ease-in-out forwards;
    animation-delay: 500ms;

    background: url('/image/background2.jpg') 50% 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    filter: opacity(0);
    background-size: 100%;
    padding-right: 5%;
}

@keyframes revealTitle {
    to {
        padding-right: 0;
        background-size: 85%;
        filter: opacity(1);
    }
}

.content section {
    @apply flex flex-col items-center gap-16 py-16;
}

.projectFrames {
    @apply flex flex-row overflow-x-hidden overflow-y-hidden justify-center
        w-full h-[55vh];
}