.title {
    @apply text-twhite-d justify-center h-full flex bg-cover bg-no-repeat;
    padding: 28vh 0;
    background-image: url('/image/background2.jpg');
    background-position-y: 19%;
}

.titleText {
    @apply m-auto p-20 relative text-center text-transparent
    outline outline-8;
    font-size: calc(3 * (1vw + 1vh));
    animation: revealTitle 500ms ease-out forwards;
    animation-delay: 300ms;
    top: -10%;
}

@keyframes revealTitle {
    to {
        @apply text-twhite-d shadow-2xl top-0;
    }
}

.content section {
    min-height: 600px;
    padding: 5rem 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content section h1 {
    margin-bottom: 1rem;
}

.content1 {
    @apply bg-tblack-d;
}

.content2 {
    @apply bg-teal-600;
}

.projectFrames {
    @apply flex;
    height: 50vh;
}

.socials {
    display: flex;
    margin: 10rem;
    gap: 10rem;
}