.tealButton {
  background-image: linear-gradient(144deg, 
    theme('colors.teal.700'), theme('colors.teal.300'), 
    theme('colors.teal.400') 50%, theme('colors.tblack.700'));
}

.redButton {
  background-image: linear-gradient(144deg, 
    theme('colors.tpink.900'), theme('colors.tpink.600'), 
    theme('colors.tpink.700') 50%, theme('colors.tyellow.700'));
}

.fancyButton {
  @apply transition-all duration-200 text-twhite-d p-1 rounded-md;
  box-shadow: theme('colors.tblack.800') 0 15px 30px -5px;
  touch-action: manipulation;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.fancyButton:hover {
  scale: 1.2;
}

.fancyButton:hover p {
  @apply bg-transparent;
}

.fancyButton p {
  @apply bg-tblack-d p-4 rounded-md w-full text-xl
  h-full transition-all duration-200;
}